@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@400;500;700&display=swap");

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsla(0, 0%, 80%, 0.767);
  --clr-accent-100: hsl(0, 0%, 100%);
  --clr-accent-108: hsla(0, 0%, 100%, 0.8);
  --clr-primary-6: rgba(255, 255, 255, 0.801);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --card-testimonial: hsl(0, 3%, 92%);
  --bg-blue: hsl(216, 53%, 9%);
  --link-color: hsl(245, 86%, 36%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Nosifer', cursive; */
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250vh;
  background-color: rgb(223, 223, 223);
}
